<link href="/css/dashboard.css" rel="stylesheet">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container"> <a class="navbar-brand" href="/dashboard">WalletStorm</a>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/dashboard">Home</a>
				</li>
				<li><a href="wallets">Wallets</a>
				</li>
				<li class="active"><a href="#">About <span class="sr-only">(current)</span></a>
				</li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome, {{name}}</a>
                </li>
            </ul>
		</div>
	</div>
</nav>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">About</h1>
		<p>This is an overview of the project and its dependencies.</p>
	</div>
</div>