<link href="/css/dashboard.css" rel="stylesheet">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container"> <a class="navbar-brand" href="/dashboard">WalletStorm</a>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li><a href="/dashboard/wallets">Wallets</a>
				</li>
				<li><a href="/dashboard/about">About</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Dashboard</h1>
		<p>Welcome to your dashboard, from here you have an overview of your wallets and associated balances.</p>
	</div>
</div>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i> Wallet Value
			<div class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Currency <span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" role="menu">
						<li><a href="#">BTC</a>
						</li>
						<li><a href="#">USD</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel-body">
			
		</div>
	</div>
</div>